<%- include('../partials/header') %> 
<%- include('../partials/menu') %>
<br>
<br>
<div class = "container" id="errorContainer">
    <h1>Recipe Not Found :(</h1>
</div>


<%- include('../partials/footer'); -%>